#serviceListSubmenu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    transition: max-height 0.35s ease;
    overflow: hidden;
    width: 100%;
}
#serviceListSubmenu.show {
    display: flex;
}
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2b2b2b;
    padding-top: 30px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
}
.sidebar a {
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
}
.sidebar a:hover {
    background-color: #393939;
}
.sidebar .nav-link.active {
    background-color: #007bff;
    color: white;
}
.icono-sidebar {
    margin-right: 16px;
}
.services-sidebar {
    padding-left: 32px !important;
    font-size: 14px !important;
}
#serviceListSubmenu {
    max-height: 200px; 
    overflow-y: auto; 
}
.mobile-menu{
    display:none;
}
.cachedash{
    padding: 10px 17px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}


/* Estilos para el menú móvil */
@media (max-width: 992px) {
    .sidebar {
        display: none;
    }
    .mobile-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        background-color: #2b2b2b;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1000;
    }
    .mobile-menu a {
        text-align: center;
        font-size: 14px;
        color: black;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile-menu a:hover {
        background-color: #efefef;
    }
    .mobile-menu .nav-link.active {
        background-color: #007bff;
        color: white;
    }
    .mobile-menu i {
        margin-bottom: 4px;
    }
  
}